<div class="users-container">

<% @users.each do |user| %>
<div class="user-container">
    <h3><%= link_to user.name, user_path(user.id) %></h3>
    <p><%= pluralize(user.articles.count, 'post') %></p>
    <p>Member for <%= time_ago_in_words(user.created_at) %></p>
</div>
<% end %>

</div>
