<h1><%= @user.name %></h1>
<p><%= @user.location.empty? ? 'Someplace' : @user.location %></p>
<p><%= @user.bio.empty? ? "This user hasn't entered a bio yet." : @user.bio %></p>
<p><%= "Member since #{@user.created_at.strftime("%b %d '%y")}" %></p>
