<div class="user-container user-show">
  <h1><%= @user.name %></h1>
  <p><%= @user.location.empty? ? 'Someplace' : @user.location %></p>
  <p>Member for <%= time_ago_in_words(@user.created_at) %></p>
</div>

<div class="user-container user-show">
  <p>About me:</p>
  <p><%= @user.bio.empty? ? "This user hasn't entered a bio yet." : @user.bio %></p>
</div>
