.users-container {
  font-family: 'Raleway', sans-serif;
  margin-left: 10%;
  margin-right: 10%
}

.user-container {
  border-bottom: 1px solid #6E0500;
  padding-left: 40%;
}

.user-container a, .user-container a:visited {
  color: #6E0500;
}

.user-form {
  font-family: 'Raleway', sans-serif;
  height: 500px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  border: 2px solid #3E3E3E;
}

.user-form *:not(:last-child) {
  border-radius: 5px;
  display: block;
  padding-left: 23%;
  margin-top: 15px;
  margin-left: 20%;
}

.user-form input[type=submit] {
  margin-left: 40%;
}

.login {
  height: 200px;
}

.login input[type=submit] {
  margin-top: 6%;
  margin-left: 43%;
}

.user-show {
  font-family: 'Raleway', sans-serif;
}

.about-me {
  padding-top: 5%;
  padding-bottom: 5%;
}
